@import '../utils/breakpoints';

.bigname {
  text-align: left;
  display: none;

  h2 {
    font-size: 28pt;
    -webkit-font-smoothing: antialised;
    margin-bottom: 0.25em;
    line-height: 1.1;
    @include media-breakpoint-up(sm) {
      font-size: 38pt;
    }
  }
  span {
    visibility: hidden;
  }
  &:hover span {
    visibility: visible;
  }
}
