@import '../utils/breakpoints';

.workList {
  margin: 180px 0 400px;
}

.gridBlock {
  width: 100%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  padding: 15px;

  @include media-breakpoint-up(sm) {
    width: 50%;
  }
  p {
    font-size: 10pt;
  }
}

.blockImg {
  overflow: hidden;
  height: 150px;
  img {
    width: 150%;
    text-align: center;
    vertical-align: middle;
  }
}
